{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link btn btn-light" role="button" href="../..">List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link btn btn-light" role="button" href="../../condor_api">Details</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link btn btn-light" role="button" href="#">Edit</a>
    </li>
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-6">
            <h2 >{% block title %}{{ object.update_title }}{% endblock %}</h2>
        </div>
    </div>

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
        {{ form.media }}
{#        <button type="submit" class="btn btn-success">Save</button>#}
        <a href="../../condor_api" class="btn btn-secondary" role="button">Back</a>
        <input formnovalidate type="submit" class="btn btn-warning" value="Confirm Update">
    </form>

{% endblock %}
